/* line 14, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 8, ../../views/stylesheets/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 15, ../../views/stylesheets/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 19, ../../views/stylesheets/partials/_page.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 20, ../../views/stylesheets/partials/_page.scss */
a:hover {
  color: #003366;
}

/* line 22, ../../views/stylesheets/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 26, ../../views/stylesheets/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 35, ../../views/stylesheets/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 0 red;
  -webkit-box-shadow: 0 0 5px 0 red;
  -o-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 40, ../../views/stylesheets/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 47, ../../views/stylesheets/partials/_page.scss */
body {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 35, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_1, body .grid_2, body .grid_3, body .grid_4, body .grid_5, body .grid_6, body .grid_7, body .grid_8, body .grid_9, body .grid_10, body .grid_11, body .grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_1 {
  width: 60px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_2 {
  width: 140px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_3 {
  width: 220px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_4 {
  width: 300px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_5 {
  width: 380px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_6 {
  width: 460px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_7 {
  width: 540px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_8 {
  width: 620px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_9 {
  width: 700px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_10 {
  width: 780px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_11 {
  width: 860px;
}
/* line 38, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .grid_12 {
  width: 940px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_1 {
  padding-left: 80px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_2 {
  padding-left: 160px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_3 {
  padding-left: 240px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_4 {
  padding-left: 320px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_5 {
  padding-left: 400px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_6 {
  padding-left: 480px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_7 {
  padding-left: 560px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_8 {
  padding-left: 640px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_9 {
  padding-left: 720px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_10 {
  padding-left: 800px;
}
/* line 46, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .prefix_11 {
  padding-left: 880px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_1 {
  padding-right: 80px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_2 {
  padding-right: 160px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_3 {
  padding-right: 240px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_4 {
  padding-right: 320px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_5 {
  padding-right: 400px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_6 {
  padding-right: 480px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_7 {
  padding-right: 560px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_8 {
  padding-right: 640px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_9 {
  padding-right: 720px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_10 {
  padding-right: 800px;
}
/* line 54, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .suffix_11 {
  padding-right: 880px;
}
/* line 58, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .alpha {
  margin-left: 0;
}
/* line 60, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .omega {
  margin-right: 0;
}
/* line 81, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_1, body .push_2, body .push_3, body .push_4, body .push_5, body .push_6, body .push_7, body .push_8, body .push_9, body .push_10, body .push_11, body .push_12,
body .pull_1, body .pull_2, body .pull_3, body .pull_4, body .pull_5, body .pull_6, body .pull_7, body .pull_8, body .pull_9, body .pull_10, body .pull_11, body .pull_12 {
  position: relative;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_1 {
  left: 80px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_1 {
  left: -80px;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_2 {
  left: 160px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_2 {
  left: -160px;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_3 {
  left: 240px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_3 {
  left: -240px;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_4 {
  left: 320px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_4 {
  left: -320px;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_5 {
  left: 400px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_5 {
  left: -400px;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_6 {
  left: 480px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_6 {
  left: -480px;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_7 {
  left: 560px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_7 {
  left: -560px;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_8 {
  left: 640px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_8 {
  left: -640px;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_9 {
  left: 720px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_9 {
  left: -720px;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_10 {
  left: 800px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_10 {
  left: -800px;
}
/* line 85, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .push_11 {
  left: 880px;
}
/* line 87, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-960-plugin-0.10.3/stylesheets/960/_grid.sass */
body .pull_11 {
  left: -880px;
}

/* line 51, ../../views/stylesheets/partials/_page.scss */
section {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}

/*/mediaquery*/
/*/mediaquery*/
@media print {
  /* line 10, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
